<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Contact_Management_System.Properties.Settings.contact_dbConnectionString"
            connectionString="Data Source=TOSHIBA;Initial Catalog=contact_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>